.footer {
    display: flex;
    flex-direction: column;
    background-color: #280033;
    justify-content: center;
    padding: 15px;
}

.linkList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.devs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.madeBy {
    color: #ffc500;
}